<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head ::head">

</head>
<body>
	<div class="container">
		<div th:replace="fragmentos/navbar ::navbar"></div>
		<h1><span th:text="${id} ? 'Edit' : 'Nueva'"></span> Txuleta URL</h1>

		<form method="post" action="#" th:action="@{/txuleta/new/submit}" th:object="${txuleta}">
			<input type="hidden" th:field="*{id}" id="id">
			<div class="mb-3">
				<label for="url" class="form-label">Url</label> 
					<input type="text" class="form-control" th:field="*{url}" id="url">
			</div>
			<div class="mb-3">
				<label for="descripcion" class="form-label">Descripción</label>
				<input type="text" class="form-control" th:field="*{descripcion}" id="descripcion">
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>

	</div>

	<div th:replace="fragmentos/footer ::footer"></div>


</body>
</html>